body {
  font-family: "Cairo";
  font-size: 22px;
  text-align: center;
  background-color: #98c1d9;
  margin: 0px;
}

html,
body {
  height: 100%;
  margin: 0;
}

.content {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
.footer {
  height: 50px;
  margin-top: -50px;
}

footer {
  background: #293241;
  color: white;
  line-height: 50px;
  padding: 0 20px;
}

.School {
  overflow: hidden;
  transition: transform 0.5s ease;
}

.School:hover {
  box-shadow: 3px 3px #293241, 4px 4px #293241, 5px 5px #293241;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.mapouter {
  position: relative;
  text-align: center;
  height: 600px;
  width: 600px;
  margin: auto;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 600px;
  width: 600px;
  border: 8px dotted #ee6c4d;
}
html,
body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
.footer {
  height: 50px;
  margin-top: -50px;
}

footer {
  background: #293241;
  color: white;
  line-height: 50px;
  padding: 0 20px;
}

.image-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.single-image {
  padding: 0 70px 0px;
  opacity: 0.6;
  transition: 0.7s;
  overflow: hidden;
}
.single-image:hover {
  opacity: 1;
  transition: 0.7s;
  transform: scale(1.5);
}
.btn-group .button {
  background-color: #ee6c4d;
  border: 1px solid red;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: none;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.btn-group .button:not(:last-child) {
  border-right: none;
}

.btn-group .button:hover {
  background-color: gray;
  border: 1px solid black;
  transform: scale(0.8);
}
